{#/**#}
{#* @file#}
{#* Default theme implementation to display a block.#}
{#*#}
{#* @see template_preprocess_block()#}
{#*#}
{#* @ingroup themeable#}
{#*/#}

<div class="box">
    <p>Number of views: {{ total_views_day2 }} today / {{ total_views2 }} total</p>
    <p>Last viewed by {{ name2 }} at {{ time_last_process2 }}</p>
</div>