{#/**#}
{#* @file#}
{#* Default theme implementation to display a block.#}
{#*#}
{#* @see template_preprocess_block()#}
{#*#}
{#* @ingroup themeable#}
{#*/#}

<div class="bbs-notification-bar" style="background-color: {{ bbs_bgcolor }}; color:{{ bbs_notification_font_color }}; text-align: center;">
    {{ notification_message }}
</div>